<!DOCTYPE html>
<html lang="es">

<%-include("partials/head")%>

<body>
    <%-include("partials/header")%>
    <%-include("./partials/carrito")%>
    <script type="text/javascript">
        document.querySelector(".productos-li").classList.add("active")
    </script>
    <div class="banner container">
        <img src="/images/banner.jpg" alt="">
    </div>
    <h2 class="titulo-detalles container">Detalles del producto: <%=producto.title%></h2>
    <div class="detalle-producto container row">
        <div class="image col-12 col-md-6">
            <img src="/images/products/<%=producto.img%>" alt="<%=producto.title%>">
        </div>
        <div class="all-details col-12 col-md-6">
            <div class="detalles">
                <h3><%=producto.title%> <%=producto.marca%></h3>
                <% const descriptions = producto.description.split("\r\n") %>
                <% descriptions.forEach(e => { %>
                    <p><%=e%></p>
                <% }) %>
            
            </div>
            <div class="comprar">
                <h4>$<%=producto.price%></h4>
                <div class="cantidad">
                    <span class="menos">-</span>
               
                <span class="total">1</span>
                <span class="mas">+</span>
                
            </div>
                <i class="fas fa-shopping-cart carrito-desktop"></i>
            </div>
            
        </div>
    </div>
    <%-include("partials/footer")%>
</body>
</html>