<!DOCTYPE html>
<html lang="es">

<%-include("partials/head")%>

<body>
    <%-include("partials/header")%>
    <%-include("./partials/carrito")%>
    <script type="text/javascript">
        document.querySelector(".vender-li").classList.add("active")
    </script>
    <div class="banner container">
        <img src="/images/banner.jpg" alt="">
    </div>
    <div class="form form-carga">
            <h1><%=title%></h1>
        <form action="/admin/create/producto" method="POST" enctype="multipart/form-data">
            <div class="titulo-producto">
                <label for="name">Nombre del producto</label>
                <input type="text" id="name" name="name" placeholder="Ej: Funko Pop">
            </div>
            <div class="titulo-producto">
                <label for="marca">Marca/Artista</label>
                <input type="text" id="marca" name="marca" placeholder="Ej: Aerosmith">
            </div>
            <div class="titulo-producto">
                <label for="price">Precio</label>
                <input type="number" id="price" name="price" value="0">
            </div>
            <div class="select-category">
                <label for="category">Categoría</label>
                <select name="category" id="category">
                    <option value="null">Seleccionar categoría</option>
                    <option value="albumes">Albumes</option>
                    <option value="instrumentos">Instrumentos</option>
                    <option value="coleccion">Colección</option>
                    <option value="electronica">Electrónica</option>
                    <option value="otros">Otros</option>
                </select>
            </div>
            <div class="select-category">
                <label for="subCategory">Sub-categoría</label>
                <select name="subCategory" id="sub-category">
                    <option value="null">Seleccionar categoría</option>
                    <option value="oferta">Ofertas</option>
                    <option value="nuevo">Nuevos</option>
                </select>
            </div>
            <div class="titulo-producto">
                <label for="description">Descripción</label>
                <textarea name="description" cols="30" rows="10"></textarea>
            </div>
            <div class="cargar-imagen">
                <label for="archivosubido">Imagen</label>
                <input type="file" name="file-product">
            </div>
            <button type="submit"> Cargar producto </button>
        </form>
    </div>
    <%-include("partials/footer")%>
</body>

</html>