<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("./partials/head")%>

</head>

<body>
    <%-include("./partials/header")%>
        <%-include("./partials/carrito")%>
        <script type="text/javascript">
            document.querySelector(".inicio-li").classList.add("active")
        </script>
            <div class="banner container">
                <img src="/images/banner-1.jpg" alt="">
            </div>
            <div class="categoria container">
                <h2>Nuevos</h2>
                <div class="productos-category row">
                    <% productos.forEach(producto => { %>
                     <% if (producto.subCategory == "nuevo") { %>
                        <div class="col-4 col-lg-2 producto">
                            <a href="/productos/details/<%=producto.id%>">
                                <img src="/images/products/<%=producto.img%>" alt="">
                                <div class="detalles">
                                    <h5><%=producto.title%></h5>
                                    <h6><%=producto.marca%></h6>
                                    <p>$<%=producto.price%></p>
                                </div>
                            </a>
                        </div>
                     <% } %>
                    <% }) %>

                </div>
                
            </div>

            <div class="categoria all-category container">
                <h2>Categorías</h2>
                <div class="productos-category row">

                    <div class="col-4 col-lg-2 categoria artistas">
                        <a href="/productos/categoria/artistas">
                            
                                <h5>Artistas</h5>
                                
                        </a>
                    </div>
                    <div class="col-4 col-lg-2 categoria albumes">
                        <a href="/productos/categoria/artistas">
                            
                                <h5>Albumes</h5>
                                
                        </a>
                    </div>
                    <div class="col-4 col-lg-2 categoria coleccionables">
                        <a href="/productos/categoria/artistas">
                            
                                <h5>Coleccionables</h5>
                                
                        </a>
                    </div>
                    <div class="col-4 col-lg-2 categoria instrumentos">
                        <a href="/productos/categoria/artistas">
                            
                                <h5>Instrumentos</h5>
                                
                        </a>
                    </div>
                    <div class="col-4 col-lg-2 categoria electronica">
                        <a href="/productos/categoria/artistas">
                            
                                <h5>Electrónica</h5>
                                
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="categoria container">
                <h2>Ofertas</h2>
                <div class="productos-category row">
                    <% productos.forEach(producto => { %>
                     <% if (producto.subCategory == "ofertas") { %>
                        <div class="col-4 col-lg-2 producto">
                            <a href="/productos/details/<%=producto.id%>">
                                <img src="/images/products/<%=producto.img%>" alt="">
                                <div class="detalles">
                                    <h5><%=producto.title%></h5>
                                    <h6><%=producto.marca%></h6>
                                    <p>$<%=producto.price%></p>
                                </div>
                            </a>
                        </div>
                     <% } %>
                    <% }) %>

                </div>
            <div class="categoria container">
                <h2>Más...</h2>
                <div class="productos-category row">
                    <% productos.forEach(producto => { %>
                     <% if (producto.id > 15) { %>
                        <div class="col-4 col-lg-2 producto">
                            <a href="/productos/details/<%=producto.id%>">
                                <img src="/images/products/<%=producto.img%>" alt="">
                                <div class="detalles">
                                    <h5><%=producto.title%></h5>
                                    <h6><%=producto.marca%></h6>
                                    <p>$<%=producto.price%></p>
                                </div>
                            </a>
                        </div>
                     <% } %>
                    <% }) %>

                </div>

            <%-include("./partials/footer")%>
</body>

</html>