<!DOCTYPE html>
<html lang="es">

<%-include("partials/head")%>
<link rel="stylesheet" href="/styles/categories.css">
</head>
<body>
    <%-include("partials/header")%>
    <%-include("./partials/carrito")%>
    <script type="text/javascript">
        document.querySelector(".categorias-li").classList.add("active")
    </script>
    <div class="container categories-container row">
    <div class="filtro col-lg-4">
        <h5>Filtros</h5>
        <form action="/productos/categories/filter" class="filtro form-control" method="GET">
            <label for="categorie">Busca por categorías</label>
            <select class="form-control" name="category" id="category">
                <option value="null">Seleccionar categoría</option>
                <option value="1">Albumes</option>
                <option value="2">Instrumentos</option>
                <option value="3">Colección</option>
                <option value="4">Electrónica</option>
                <option value="5">Otros</option>
            </select>
            <label for="sub-categorie">Busca por sub-categoría</label>
            <select class="form-control" name="subCategory" id="sub-category">
                <option value="null">Seleccionar categoría</option>
                <option value="1">Ofertas</option>
                <option value="2">Nuevos</option>
                <option value="3">Otros</option>
            </select>
            <span class="label-price">Busca por precio</span>
            <div class="min">
                <label for="minprice">$</label>
                <input class="form-control" type="number" id="minprice" name="minprice" placeholder="mínimo">
        </div>
        <div class="max">
            <label for="maxprice">$</label>
            <input class="form-control" type="number" id="minprice" name="maxprice" placeholder="máximo">
        </div>
            <button type="submit" class="btn btn-primary">Aplicar</button>
        </form>
    </div>
    <div class="productos-categories col-lg-8">
            <div class="productos-category row">
                <% if (typeof productos != "undefined" && typeof productos[0] != "undefined") { %>
                    <h5>Resultados del filtro:</h5>
                <% productos.forEach(producto => { %>
                    <div class="col-12 producto">
                            <table class="table">
                            <tbody>
                                <tr>
                                  <td><a href="/productos/details/<%=producto.id_product%>"><img src="/images/products/<%=producto.img%>" alt="<%=producto.name%>"></a></th>
                                  <td><%=producto.name%></td>
                                  <td><%=producto.mark%></td>
                                  <td class="details"><%=producto.detail.slice(0, 100) + "..."%></td>
                                  <td>$<%=producto.price%></td>
                                  <td><button onclick="addToCart({ id: '<%- producto.id_product %>', name: '<%- producto.name %>', price: '<%- parseInt(producto.price) %>', img: '<%- producto.img %>', cant: 1 })" id="add" type="button" class="add-to-cart"><i class="fas fa-shopping-cart"></i></button></td>
                                </tr>
                            </table>
                    </div>
                <% }) %>
                <% } else if (typeof productos != "undefined" && typeof productos[0] == "undefined"){%>
                    <div class="not-found">
                        <h3> No se han encontrado resultados con tu filtro</h3>
                        <div class="sad"><img src="/images/no-results.png" alt=""></div>
                    </div>}
                    <% } %>         
        </div>
    </div>
</div>

<%-include("partials/footer")%>
<script src="/javascript/categories.js"></script>
</body>
</html>
