<!DOCTYPE html>
<html lang="es">

<%-include("partials/head")%>
<link rel="stylesheet" href="/styles/categories.css">
</head>
<body>
    <%-include("partials/header")%>
    <%-include("./partials/carrito")%>
<div class="categoria all-category container">
    <div class="productos-category row">

        <div class="col-4 col-lg-2 categoria artistas"id="btnArtistas">
                <h5>Artistas</h5>
        </div>
        <div class="col-4 col-lg-2 categoria albumes">
            <a href="/productos/categoria/artistas">

                <h5>Albumes</h5>

            </a>
        </div>
        <div class="col-4 col-lg-2 categoria coleccionables">
            <a href="/productos/categoria/artistas">

                <h5>Coleccionables</h5>

            </a>
        </div>
        <div class="col-4 col-lg-2 categoria instrumentos">
            <a href="/productos/categoria/artistas">

                <h5>Instrumentos</h5>

            </a>
        </div>
        <div class="col-4 col-lg-2 categoria electronica">
            <a href="/productos/categoria/artistas">

                <h5>Electrónica</h5>

            </a>
        </div>
    </div>
</div>

<!-- artistas -->
<div class="data container"id="artistas">
    <ul>
        <% productos.forEach(producto => { %> 
         <% if (producto.id_category == 1) { %>
          <li>#<%= producto.mark.replace(/ /g, "") %></li>
         <% } %>
        <% }) %>
    </ul>
</div>
<!-- albumes -->
<div class="data productos-category container row" id="albumes">
    <% productos.forEach(producto=> { %>
        <% if (producto.id_category== 1 ) { %>
            <div class="col-4 col-lg-2 producto">
                <a href="/productos/details/<%=producto.id_product%>">
                    <img src="/images/products/<%=producto.img%>" alt="">
                    <div class="detalles">
                        <h5>
                            <%=producto.name%>
                        </h5>
                        <h6>
                            <%=producto.mark%>
                        </h6>
                        <p>$<%=producto.price%>
                        </p>
                    </div>
                </a>
            </div>
            <% } %>
                <% }) %>

</div>
<!-- coleccionables -->
<div class="data productos-category container row"id="coleccion">
    <% productos.forEach(producto=> { %>
        <% if (producto.id_category== 3 ) { %>
            <div class="col-4 col-lg-2 producto">
                <a href="/productos/details/<%=producto.id_product%>">
                    <img src="/images/products/<%=producto.img%>" alt="">
                    <div class="detalles">
                        <h5>
                            <%=producto.name%>
                        </h5>
                        <h6>
                            <%=producto.mark%>
                        </h6>
                        <p>$<%=producto.price%>
                        </p>
                    </div>
                </a>
            </div>
            <% } %>
                <% }) %>

</div>
<!-- instrumentos -->
<div class="data productos-category container row"id="instumentos">
    <% productos.forEach(producto=> { %>
        <% if (producto.id_category== 2 ) { %>
            <div class="col-4 col-lg-2 producto">
                <a href="/productos/details/<%=producto.id_product%>">
                    <img src="/images/products/<%=producto.img%>" alt="">
                    <div class="detalles">
                        <h5>
                            <%=producto.name%>
                        </h5>
                        <h6>
                            <%=producto.mark%>
                        </h6>
                        <p>$<%=producto.price%>
                        </p>
                    </div>
                </a>
            </div>
            <% } %>
                <% }) %>

</div>
<!-- electronica -->
<div class="data productos-category container row"id="electronica">
    <% productos.forEach(producto=> { %>
        <% if (producto.id_subcategory== 4 ) { %>
            <div class="col-4 col-lg-2 producto">
                <a href="/productos/details/<%=producto.id_product%>">
                    <img src="/images/products/<%=producto.img%>" alt="">
                    <div class="detalles">
                        <h5>
                            <%=producto.name%>
                        </h5>
                        <h6>
                            <%=producto.mark%>
                        </h6>
                        <p>$<%=producto.price%>
                        </p>
                    </div>
                </a>
            </div>
            <% } %>
                <% }) %>

</div>

<%-include("partials/footer")%>
<script src="/javascript/categories.js"></script>
</body>
</html>
