<!DOCTYPE html>
<html lang="es">

<%-include("partials/head")%>
<link rel="stylesheet" href="/styles/categories.css">
</head>
<body>
    <%-include("partials/header")%>
    <%-include("./partials/carrito")%>
    <script type="text/javascript">
        document.querySelector(".productos-li").classList.add("active")
    </script>
    <div class="container categories-container row">
    <div class="filtro col-lg-4">
        <h5>Filtros</h5>
        <form action="/productos/categories/filter/1" class="filtro form-control" method="GET">
            <label for="categorie">Busca por categorías</label>
            <select class="form-control" name="category" id="category">
                <option value="null">Seleccionar categoría</option>
                <option value="1">Albumes</option>
                <option value="2">Instrumentos</option>
                <option value="3">Colección</option>
                <option value="4">Electrónica</option>
                <option value="5">Otros</option>
            </select>
            <label for="sub-categorie">Busca por sub-categoría</label>
            <select class="form-control" name="subCategory" id="sub-category">
                <option value="null">Seleccionar categoría</option>
                <option value="1">Ofertas</option>
                <option value="2">Nuevos</option>
                <option value="3">Otros</option>
            </select>
            <span class="label-price">Busca por precio</span>
            <div class="min">
                <label for="minprice">$</label>
                <input class="form-control" type="number" id="minprice" name="minprice" placeholder="mínimo">
        </div>
        <div class="max">
            <label for="maxprice">$</label>
            <input class="form-control" type="number" id="minprice" name="maxprice" placeholder="máximo">
        </div>
            <button type="submit" class="btn btn-primary">Aplicar</button>
        </form>
    </div>
    <div class="productos-categories col-lg-8">
            <div class="productos-category row">
                <% if (typeof productos != "undefined" && typeof productos[0] != "undefined") { %>
                    <h5><%= mensaje  %> </h5>
                <% productos.forEach(producto => { %>
                    <div class="col-12 producto">
                            <table class="table">
                            <tbody>
                                <tr>
                                  <td><a href="/productos/details/<%=producto.id_product%>"><img src="/images/products/<%=producto.img%>" alt="<%=producto.name%>"></a></th>
                                  <td><%=producto.name%></td>
                                  <td><%=producto.mark%></td>
                                  <td class="details"><%=producto.detail.slice(0, 100) + "..."%></td>
                                  <td>$<%=producto.price%></td>
                                  <td><button onclick="addToCart({ id: '<%- producto.id_product %>', name: '<%- producto.name %>', price: '<%- parseInt(producto.price) %>', img: '<%- producto.img %>', cant: 1 })" id="add" type="button" class="add-to-cart"><i class="fas fa-shopping-cart"></i></button></td>
                                </tr>
                            </table>
                    </div>
                <% }) %>
                <% } else if (typeof productos != "undefined" && typeof productos[0] == "undefined"){%>
                    <div class="not-found">
                        <h3> <%- error %> </h3>
                        <div class="sad"><img src="/images/no-results.png" alt=""></div>
                    </div>}
                    <% } %>         
        </div>
        <% if (typeof filter_url != "undefined" && typeof productos != "undefined" && productos.length > 1) { %>
            <div class="pagination container">
                <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item <%= num_page == 1 ? "disabled" : " "%> ">
                        <a class="page-link" href="/productos/categories/filter/<%= num_page - 1%><%= filter_url%>" aria-disabled="false">Anterior</a>
                      </li>
                      <% for( let aux = 1; aux <= num_pages; aux++ ) { %>
                        <li class="page-item"><a class="page-link" href="/productos/categories/filter/<%=aux%><%= filter_url %>"><%= aux%></a></li>
                      <% } %> 
                      <li class="page-item <%= num_page == num_pages ? "disabled" : " "%> ">
                        <a class="page-link" href="/productos/categories/filter/<%= num_page + 1%><%= filter_url %>" aria-disabled="false">Siguiente</a>
                      </li>
                    </ul>
                  </nav>
                </div>
        <% } %>
        <% if (typeof search_url != "undefined"&& categories && productos.length > 1) { %>
            <div class="pagination container">
                <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item <%= num_page == 1 ? "disabled" : " "%> ">
                        <a class="page-link" href="/search/<%= num_page - 1%><%= search_url %>" aria-disabled="false">Anterior</a>
                      </li>
                      <% for( let aux = 1; aux <= num_pages; aux++ ) { %>
                        <li class="page-item"><a class="page-link" href="/search/<%=aux%><%= search_url %>"><%= aux%></a></li>
                      <% } %> 
                      <li class="page-item <%= num_page == num_pages ? "disabled" : " "%> ">
                        <a class="page-link" href="/search/<%= num_page + 1%><%= search_url %>" aria-disabled="false">Siguiente</a>
                      </li>
                    </ul>
                  </nav>
                </div>
        <% } %>
        <% if (typeof search_url == "undefined" && typeof filter_url == "undefined" && typeof productos != "undefined" && productos.length > 1) { %>
        <div class="pagination container">
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item <%= num_page == 1 ? "disabled" : " "%> ">
                    <a class="page-link" href="/productos/<%= num_page - 1%>" tabindex="-1" aria-disabled="false">Anterior</a>
                  </li>
                  <% for( let aux = 1; aux <= num_pages; aux++ ) { %>
                    <li class="page-item"><a class="page-link" href="/productos/<%=aux%> "><%= aux%></a></li>
                  <% } %> 
                  <li class="page-item <%= num_page == num_pages ? "disabled" : " "%> ">
                    <a class="page-link" href="/productos/<%= num_page + 1%>" tabindex="-1" aria-disabled="false">Siguiente</a>
                  </li>
                </ul>
              </nav>
            </div>
            <% } %>
    </div>
</div>


<%-include("partials/footer")%>
<script src="/javascript/categories.js"></script>
</body>
</html>
