<!DOCTYPE html>
<html lang="es">

<%-include("partials/head")%>

<body>
    <%-include("partials/header")%>
    <%-include("./partials/carrito")%>
    <script type="text/javascript">
        document.querySelector(".vender-li").classList.add("active")
    </script>
    <div class="banner container">
        <img src="/images/banner.jpg" alt="">
    </div>

    <div class="form form-carga">
            <h1><%=title%></h1>

            <form id="form-carga" action="/user/profile/editar/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data"> 
              
                <!-- editar imagen -->
                <div>
                    <!-- img perfil -->
                    <img src="/images/users/<%= user.profile %>" alt="foto de perfil" id="image">

                    <!-- input file perfil -->
                    <div class="boton-image form-group">
                        <label class="btn btn-success labelImg" for="archivo">Cambiar foto</label>
                        <input class="form-control" type="file" name="profile" id="archivo" accept="image/*">
                        <br>
                        <span class="text-danger errorImg">
                            <%= (typeof errores !='undefined' && errores.profile) ? errores.profile.msg : null %>
                        </span>

                    </div>
                </div>
             
                <!-- nombre de usuario -->         
                <div class="name">
                    <label for="name">Nombre</label>
                    <input class="form-control" type="text" name="name" id="name" value="<%=user.name%>">        
                </div>

                <!-- apellido de usuario -->
                <div class="last-name">
                    <label for="name">Apellido</label>
                    <input class="form-control" type="text" name="lastName" id="lastName" value="<%=user.lastName%>"> 
                </div> 

                <!-- email -->
                <div class="email">
                    <label for="name">Email</label>
                    <input class="form-control" type="email" placeholder=" Correo electrónico" name="email"
                        value="<%= (typeof old != 'undefined' && old.email ? old.email : user.email) %>"><br>
                    <span class="text-danger errorEmail">
                        <%= (typeof errores !='undefined' && errores.email) ? errores.email.msg : null %>
                    </span>
                </div>

                 <!-- contraseñas -->
                 <div>
                   
                     <h4>Cambiar contraseña <i class="fas fa-key icon"></i> </h4> 

                    <!-- password original -->
                    <div>
                        <input class="form-control" type="password" placeholder=" Actual" name="password"><br>
                        <span class="text-danger errorPass">
                            <%= (typeof errores !='undefined' && errores.password) ? errores.password.msg : null %>
                        </span>
                    </div>
                    <!-- nuevo password -->
                    <div>
                        <input class="form-control" type="password" placeholder=" Nueva" name="pass1"><br>
                        <span class="text-danger errorNewPass">
                            <%= (typeof errores !='undefined' && errores.pass1) ? errores.pass1.msg : null %>
                        </span>
                    </div>
                    <!-- Revalidar password -->
                    <div>    
                        <input class="form-control" type="password" placeholder=" Repetir nueva" name="pass2"><br>
                        <span class="text-danger errorConfirmNew">
                            <%= (typeof errores !='undefined' && errores.pass2) ? errores.pass2.msg : null %>
                        </span>
                    </div>
                </div>
               
            
            <button type="submit"> Guardar Cambios </button> <button type="reset">Resetar</button>
            
        </form>
    </div>
    <%-include("partials/footer")%>
    <script src="/javascripts/editUserValidator.js"></script>  
</body>

</html>