<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("./partials/head")%>

</head>

<body>
    <%-include("./partials/header")%>
        <%-include("./partials/carrito")%>
            <script type="text/javascript">
                document.querySelector(".inicio-li").classList.add("active")
            </script>
            <!-- <div class="banner container">
                <img src="/images/banner-1.jpg" alt="">
            </div> -->
            <!-- CAROUSEL -->

            <div id="carouselExampleSlidesOnly" class="container carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/banner-1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner-2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner-3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>

            <!-- Main -->
            <div class="categoria container">
                <h2>Nuevos</h2>
                <div class="productos-category row">
                    <% let limit=0 %>
                        <% productos.forEach(producto=> { %>
                            <% if (producto.id_subcategory==2 && limit !=12 ) { %>
                                <div class="col-4 col-lg-2 producto">
                                    <a href="/productos/details/<%=producto.id_product%>">
                                        <img src="/images/products/<%=producto.img%>" alt="<%=producto.name%>">
                                        <div class="detalles">
                                            <h5>
                                                <%=producto.name%>
                                            </h5>
                                            <h6>
                                                <%=producto.mark%>
                                            </h6>
                                            <p>$<%=producto.price%>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <% limit +=1 %>
                                    <% } %>
                                        <% }) %>

                </div>

            </div>

            <div class="categoria all-category container">
                <h2>Categorías</h2>
                <div class="productos-category row">

                    <div class="col-4 col-lg-2 categoria artistas">
                        <a href="/productos/categories/filter/1?category=1&subCategory=null&minprice=&maxprice=">

                            <h5>Artistas</h5>

                        </a>
                    </div>
                    <div class="col-4 col-lg-2 categoria albumes">
                        <a href="/productos/categories/filter/1?category=1&subCategory=null&minprice=&maxprice=">

                            <h5>Albumes</h5>

                        </a>
                    </div>
                    <div class="col-4 col-lg-2 categoria coleccionables">
                        <a href="/productos/categories/filter/1?category=3&subCategory=null&minprice=&maxprice=">

                            <h5>Coleccionables</h5>

                        </a>
                    </div>
                    <div class="col-4 col-lg-2 categoria instrumentos">
                        <a href="/productos/categories/filter/1?category=2&subCategory=null&minprice=&maxprice=">

                            <h5>Instrumentos</h5>

                        </a>
                    </div>
                    <div class="col-4 col-lg-2 categoria electronica">
                        <a href="/productos/categories/filter/1?category=4&subCategory=null&minprice=&maxprice=">

                            <h5>Electrónica</h5>

                        </a>
                    </div>
                </div>
            </div>

            <div class="categoria container">
                <h2>Ofertas</h2>
                <div class="productos-category row">
                    <% let limit1=0 %>
                        <% productos.forEach(producto=> { %>
                            <% if (producto.id_subcategory==1 && limit1 !=12 ) { %>
                                <div class="col-4 col-lg-2 producto">
                                    <a href="/productos/details/<%=producto.id_product%>">
                                        <img src="/images/products/<%=producto.img%>" alt="<%=producto.name%>">
                                        <div class="detalles">
                                            <h5>
                                                <%=producto.name%>
                                            </h5>
                                            <h6>
                                                <%=producto.mark%>
                                            </h6>
                                            <p>$<%=producto.price%>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <% limit1 +=1 %>
                                    <% } %>
                                        <% }) %>

                </div>
            </div>
            <div class="categoria container">
                <h2>Más...</h2>
                <div class="productos-category row">
                    <% let limit2=0 %>
                        <% productos.forEach(producto=> { %>
                            <% if (producto.id_subcategory==3 && limit2 !=12) { %>
                                <div class="col-4 col-lg-2 producto">
                                    <a href="/productos/details/<%=producto.id_product%>">
                                        <img src="/images/products/<%=producto.img%>" alt="<%=producto.name%>">
                                        <div class="detalles">
                                            <h5>
                                                <%=producto.name%>
                                            </h5>
                                            <h6>
                                                <%=producto.mark%>
                                            </h6>
                                            <p>$<%=producto.price%>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <% limit2 +=1 %>
                                    <% } %>
                                        <% }) %>

                </div>
            </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                crossorigin="anonymous"></script>
            <%-include("./partials/footer")%>
</body>

</html>