<!DOCTYPE html>
<html lang="es">

<%-include("partials/head")%>

    <body>
        <%-include("partials/header")%>
            <%-include("./partials/carrito")%>
                <script type="text/javascript">
                    document.querySelector(".productos-li").classList.add("active")
                </script>
                <!-- <div class="banner container">
        <img src="/images/banner.jpg" alt="">
    </div> -->
                <% if (buscar && productos[0] !=undefined) { %>
                    <h2 class="titulo-detalles container">Resultados de la busqueda: <%=buscar%>
                    </h2>
                    <% } if (buscar && productos[0]==undefined) { %>
                        <h3 class="titulo-detalles container"> No hemos encontrando resultados para: <%=buscar%>
                        </h3>
                        <div class="sad"><img src="/images/no-results.png" alt=""></div>
                        <% } if(buscar==false) { %>
                            <h2 class="titulo-detalles container">Todos los productos:</h2>
                            <% } %>



                                <div class="categoria container">
                                    <div class="productos-category row">
                                        <% productos.forEach(producto=> { %>
                                            <div class="col-4 col-lg-2 producto">
                                                <a href="/productos/details/<%=producto.id_product%>">
                                                    <img src="/images/products/<%=producto.img%>"
                                                        alt="<%=producto.name%>">
                                                    <div class="detalles">
                                                        <h5>
                                                            <%=producto.name%>
                                                        </h5>
                                                        <h6>
                                                            <%=producto.mark%>
                                                        </h6>
                                                        <p>$<%=producto.price%>
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <% }) %>

                                    </div>

                                </div>
                                </div>

                                <%-include("partials/footer")%>


    </body>

</html>