<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head")%>
<body>
    <%-include("partials/header")%>
    <%-include("./partials/carrito")%>
    <script type="text/javascript">
        document.querySelector("#Perfil-li").classList.add("active")
    </script>
    <link rel="stylesheet" href="/styles/perfil.css">
<div class="container-fluid row">
    <div class="profile col-3">

        <img class= "avatar" src="/images/users/<%=user.profile%>" alt="">
        <p> <%= user.name + " " + user.lastName %> 
            <span><a href="/user/profile/editar/<%=user.id%>"><i class="fas fa-edit"></i></a></span>
        </p>
        <p> Email
            <span><a href="/user/profile/editar/<%=user.email%>"><i class="fas fa-edit"></i></a></span>
        </p>
        <p> Password
            <span><a href="/user/profile/editar/<%=user.id%>"><i class="fas fa-edit"></i></a></span>
        </p>

        
        <a onclick="deleteCart()" href='/user/logout'> Cerrar sessión </a>
    </div>
    <div class="carrito-profile col-9">
        <h1>Carrito</h1>
    </div>
</div>
   
    <%-include("./partials/footer")%>
</body>
</html>
